
.memorama {
  background-color: #252525;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border: aquamarine 2px solid;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.memorama tr{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.memorama .contenido-seccion {
  max-width: 70%;
  margin: 0px auto 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.memorama .gameData {
  display: block;
  justify-content: center;
  text-align: center;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
.memorama h1 {
  color: #FFD700;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.memorama h2 {
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  margin: 10px 0;
}

.memorama table {
  width: 100%;
  border-collapse: collapse;
}
.memorama .card {
  width: 100px;
  height: 150px;
  border: aquamarine 2px solid;
  background-color: #333;
  margin: 1px;
  transition: background-color 0.3s;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.memorama .card:hover {
  border: 2px solid #FFD700;
  transform: scale(1.05);
}
.memorama .card.flipped {
  background-color: transparent;
  box-shadow: none;
}

.memorama .card.matched {
  pointer-events: none;
  background-color: #888;
}

.memorama .iniciador {
  color: black;
  display: block;
  margin: auto;
  text-decoration: none;
  background-color: aquamarine;
  border: 1px solid aquamarine;
  width: auto;
  min-width: 180px;
  height: auto;
  min-height: 42px;
  line-height: 42px;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 40px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.memorama .iniciador:hover {
  background-color: #FFD700;
  transform: scale(1.05);
}
@media(max-width: 1100px) {
  .memorama {
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .memorama .gameData {
    width: 100%;
    margin: 0 5px;
  }
}
@media (max-width: 768px) {
  .memorama .contenido-seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .memorama {
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .memorama .gameData {
    width: 100%;
    margin: 0 5px;
  }
  .memorama .memo-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    max-width: calc(100% - 10px);
  }
  .memorama .card {
    width: calc(33% - 10px);
    min-width: 70px;
    height: 110px;
  }
  .memorama tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .memorama h2 {
    font-size: 25px;
  }
  .memorama h1 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .memorama .memo-title,
  .memorama .memo-game,
  .memorama .gameData {
    margin-bottom: 20px;
  }
  .memorama .iniciador {
    margin-top: auto;
    margin-bottom: auto
  }
}
