footer {
    width: 100%;
    background-color: #252a2e;
    color: #fff;
    text-align: center;
    padding: 50px 0 20px 0; /* Aumenta el padding en la parte inferior */
    position: relative;
}

footer .redes {
    margin-bottom: 20px; /* Aumenta el margen inferior para más espacio */
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #FFD700; /* Borde dorado */
    border-radius: 50%;
    width: 50px; /* Aumenta el tamaño del icono */
    height: 50px;
    line-height: 50px;
    margin: 10px 8px; /* Ajusta el margen para más espacio */
    font-size: 24px; /* Aumenta el tamaño del icono */
    transition: background-color 0.3s, border-color 0.3s; /* Agrega transición para el hover */
}

footer .redes a:hover {
    background-color: #FFD700; /* Fondo dorado al pasar el ratón */
    border-color: #FFD700; /* Borde dorado al pasar el ratón */
    color: #252a2e; /* Color del icono en fondo dorado */
}

footer .arriba {
    display: block;
    width: 50px; /* Aumenta el tamaño del botón */
    height: 50px;
    background-color: aquamarine; /* Color de fondo del botón */
    text-decoration: none;
    color: #252a2e; /* Color del texto del botón */
    border: 2px solid #FFD700; /* Borde dorado */
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px; /* Ajusta la posición del botón */
    font-size: 28px;
    line-height: 50px; /* Alinea el texto verticalmente */
    transition: background-color 0.3s, color 0.3s; /* Agrega transición para el hover */
}

footer .arriba:hover {
    color: aquamarine; /* Cambia el color del texto al pasar el ratón */
    background-color: #252a2e; /* Cambia el fondo del botón al pasar el ratón */
    border-color: aquamarine; /* Cambia el borde al pasar el ratón */
}
