/* Curriculum.css */

.curriculum {
  background-color: #252A2E;
  color: #fff;
  padding: 50px 20px;
  overflow: hidden;
}

.contenido-seccion {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 16px;
  height: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.flex-item {
  background-color: #292c30;
  height: 200px; /* Fijamos una altura consistente para todos los items */
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 40px; /* Aumentamos el margen inferior para que no se pisen */
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 40px); /* Ajustamos el ancho para adaptarlo al contenedor flex */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 6px black; /* Añadimos box-shadow con aquamarine */
}

.flex-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 8px 16px aquamarine; /* Añadimos box-shadow con aquamarine */
}

.icon {
  font-size: 3.5rem; /* Ajustamos el tamaño del icono */
  color: #FFD700;
  position: absolute;
  bottom: -2.8rem; /* Posicionamos el icono para que la mitad se salga hacia abajo */
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative; /* Necesario para la posición absoluta de los iconos */
}

.icon-container-htmlcss {
  display: flex;
  justify-content: center;
  position: relative;
}

.icon-html-css {
  font-size: 3.5rem; /* Ajustamos el tamaño de los iconos HTML y CSS */
  color: #FFD700;
  position: relative;
  bottom: -0.01rem; /* Posicionamos los iconos para que la mitad se salga hacia abajo */
}

.info-cv {
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
}

.title-ed {
  text-align: center;
  font-size: 40px;
  font-family: 'Righteous', sans-serif;
}

.title-cv {
  font-size: 48px;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  margin-bottom: 40px;
  padding: 10px;
  border-bottom: 2px solid aquamarine;
  color: aquamarine;
}

.title-item {
  font-size: 30px;
  text-align: center;
  color: aquamarine;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Righteous', sans-serif;
}

/* Media Queries for Tablet */
@media (max-width: 1024px) {
  .flex-item {
    width: calc(100% - 40px);
    margin-bottom: 80px;
  }

  .icon-container-htmlcss, .icon-container {
    justify-content: space-around;
  }

  .info-cv {
    font-size: 16px;
  }

  .title-cv {
    font-size: 36px;
  }

  .title-item {
    font-size: 24px;
  }
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .flex-item {
    width: calc(100% - 20px); /* Ajustamos el ancho para adaptarlo al contenedor flex */
    margin-bottom: 15px; /* Increase margin-bottom for more spacing */
  }

  .icon {
    font-size: 3rem; /* Ajustamos el tamaño del icono */
    bottom: -2rem; /* Ajustamos la posición */
  }

  .icon-html-css {
    font-size: 3rem; /* Ajustamos el tamaño del icono */
    bottom: -2rem; /* Ajustamos la posición */
  }

  .info-cv {
    font-size: 16px; /* Ajustamos el tamaño del texto para una mejor legibilidad */
  }

  .title-cv {
    font-size: 32px; /* Ajustamos el tamaño del título */
  }

  .title-item {
    font-size: 24px; /* Ajustamos el tamaño del título */
  }
}
