/* Estilos Generales */
.contenedor-general-cafe {
  background-color: #2b2b2b;
  color: #e0c097;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

.contenedor-cafeteria {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1f1f1f;
  border: 5px solid #4b3621;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

/* Portada */
.contenido-portada {
  background: linear-gradient(135deg, #4b3621, #2b2b2b);
  padding: 40px;
  text-align: center;
  border: 5px solid #705438;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
}

.contenido-portada h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #e0c097;
  text-shadow: 2px 2px #4b3621;
}

.contenido-portada p {
  font-size: 1.5em;
  margin-top: 0;
  color: #f0e5d8;
}

/* Sección "Acerca de El Taller del Café Aller" */
.info-cafeteria {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}

.info-cafeteria-text {
  width: 40%;
  height: 400px;
}

.subtitle-cafeteria {
  color: aquamarine;
  text-align: center;
  margin-bottom: 20px;
}

.info-cafeteria-text p {
  color: #f0e5d8;
}

/* Carrusel */
.carousel .slide img {
  height: 400px;
  width: 100%;
  border: 5px solid #4b3621;
  border-radius: 10px;
  object-fit: cover;
}

.carousel-container {
  display: flex;
  border: 5px solid #705438;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  max-width: 50%;
  margin: 0 auto;
}

/* Lista de productos */
.menu-cafeteria-productos {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 100px;
}

.menu-cafeteria ul.menu-cafeteria-productos,
.menu-cafeteria ul.menu-cafeteria-combos,
.eventos-cafeteria ul.calendario-eventos {
  list-style: none;
  padding: 0;
}

.menu-cafeteria-productos li {
  text-align: center;
  font-size: 1.3rem;
}

.menu-cafeteria-productos .producto-imagen {
  width: 210px;
  height: auto;
  border: 5px solid #705438;
  border-radius: 20%;
}

.producto-item p {
  font-size: 1.2em;
  color: #f0e5d8;
}

/* Menú y combos */
.menu-cafeteria-combos {
  margin-bottom: 100px;
}

.menu-cafeteria ul.menu-cafeteria-combos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.menu-cafeteria ul.menu-cafeteria-combos li {
  border: 1px solid aquamarine;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px 1px aquamarine;
}

/* Próximos eventos */
.eventos-cafeteria {
  margin-bottom: 50px;
}

.eventos-cafeteria li {
  padding: 30px;
  border: aquamarine 3px solid;
  border-radius: 8px;
  font-size: 20px;
  margin: 10px;
  box-shadow: 0 0 5px 3px aquamarine;
}

.eventos-cafeteria ul:last-child {
  margin-bottom: 0;
}

/* Contacto */
.contactos-cafeteria {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.columna-formulario {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 600px;
  padding: 20px;
  margin-right: 10px;
  margin-top: 2rem;
}


.imagen-contacto {
  width: auto;
  height: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 3.5rem;
  overflow: hidden;
}

.imagen-contacto img {
  height: 450px;
  border: 5px solid #705438;
  border-radius: 10px;
}

.formulario-cafeteria {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.formulario-cafeteria label {
  color: aquamarine;
  margin-bottom: 8px;

}

.formulario-cafeteria input[type="text"],
.formulario-cafeteria input[type="email"],
.formulario-cafeteria textarea {
  padding: 8px;
  margin-bottom: 12px;
  color: black;
  border: 5px solid #705438;
  border-radius: 10px;
}

.formulario-cafeteria textarea {
  resize: vertical;
}

.formulario-cafeteria button {
  padding: 10px 16px;
  background-color: aquamarine;
  color: black;
  background-color: #b1885f;
  border: #705438 solid 3px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  border: none;
}


/* Media Queries */
@media (min-width: 768px) and (max-width: 950px) {
  .menu-cafeteria{
    margin-top: 15rem;
  }
}
/* Estilos para celulares (hasta 767px) */
@media (max-width: 767px) {
  /* Estilos generales */
  .contenedor-general-cafe {
    padding: 10px; /* Menos padding en el contenedor general */
    overflow: hidden;
  }

  .contenedor-cafeteria {
    padding: 10px; /* Menos padding en el contenedor de cafetería */
    border-width: 3px; /* Borde más delgado */
  }

  /* Portada */
  .contenido-portada {
    padding: 20px; /* Menos padding */
    border-width: 3px; /* Borde más delgado */
  }

  .contenido-portada h1 {
    font-size: 2em; /* Tamaño de fuente más pequeño */
  }

  .contenido-portada p {
    font-size: 1.2em; /* Tamaño de fuente más pequeño */
  }

  /* Sección "Acerca de El Taller del Café Aller" */
  .info-cafeteria {
    flex-direction: column; /* Cambia a columna en lugar de fila */
    align-items: flex-start; /* Alineación a la izquierda */
    margin-bottom: 50px; /* Menos margen en la parte inferior */
  }

  .info-cafeteria-text {
    width: 100%; /* Ancho completo */
    height: auto; /* Altura automática */
    margin-bottom: 20px; /* Margen inferior */
  }

  .subtitle-cafeteria {
    font-size: 1.2em; /* Tamaño de fuente más pequeño */
  }

  /* Carrusel */
  .carousel-container {
    max-width: 100%; /* Ancho completo */
    padding: 5px; /* Menos padding */
  }

  /* Lista de productos */
  .menu-cafeteria-productos {
    display: flex; /* Cambia a flexbox */
    flex-direction: column; /* Disposición en columna */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    grid-template-columns: none; /* Desactiva el grid-template-columns */
    gap: 10px; /* Espacio entre los elementos */
    padding: 10px; /* Menos padding */
    margin-bottom: 50px; /* Menos margen en la parte inferior */
  }
  .menu-cafeteria-productos .producto-imagen {
    width: 200px;
    height: auto;
    border: 5px solid #705438;
    border-radius: 20%;
  }
  .menu-cafeteria-productos li {
    font-size: 1.1rem; /* Tamaño de fuente más pequeño */
  }


  /* Menú y combos */
  .menu-cafeteria-combos ul.menu-cafeteria-combos {
    grid-template-columns: 1fr; /* Una sola columna */
  }

  /* Contacto */
  .columna-formulario {
    max-width: 100%; /* Ancho completo */
    margin-right: 0; /* Elimina el margen derecho */
    margin-top: 1rem; /* Menos margen superior */
  }

  .imagen-contacto img {
    display: none;
    height: auto; /* Altura automática */
  }
}
