@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&family=Righteous&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
}
html{
    scroll-behavior: smooth;
    /*para deslizar haciendo click*/
}

